nav {
  z-index: 1;
  width: 100%;
  padding: 12px;
  @include display-flex;
  @include justify-content(space-between);
  @include align-items(center);
  align-items: center;
  background: $blue-primary;
  @include background(linear-gradient(to right, $green-primary, $blue-primary));

  #logo {
    max-width: 35px;
  }

  #login-btn {
    border-radius: 3px;
    padding: 5px 10px;
    background: transparent;
    border: 1px solid white;
    color: white;

    &:hover {
      background: darken($blue-primary, 10);
    }

    &:active {
      background: $blue-primary;
    }
  }
}

#logout-btn {
}
