#note_n_tabs {
  height: 100%;
  @include display-flex;
  padding-top: 5px;

  #note {
    font-family: Tahoma;
    margin-right: 40px;
    margin-bottom: 40px;
    width: calc(100% - 170px - 12px);
    height: calc(100% - 40px);
    resize: none;
    z-index: 3;
    padding: 15px 15px;
    color: lighten(black, 20);
    border: 1px solid darken($blue-primary, 10);
    border-radius: 10px;
    overflow-y: auto;

    &:focus {
    }
  }

  #Tabs-container {
    width: 150px;
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;

    .tab-wrapper {
      position: relative;
      display: inline-block;
      height: auto;
      margin-bottom: 10px;

      &:hover {
        * {
          cursor: pointer;
        }

        i {
          display: block;
        }
      }

      .tab {
        font-size: 0.9em;
        text-align: center;
        word-wrap: break-word;
        width: 120px;
        padding: 13px 11px;
        background: white;
        border: 1px solid $blue-primary;
        border-radius: 20px;
        box-shadow: none;
        vertical-align: middle;
      }

      .tab.active {
        background: $blue-primary;
        color: white;
      }

      i {
        font-size: 1em;
        display: none;
        position: absolute;
        top: 1px;
        right: 1px;
        color: lightgrey;

        &:hover {
          color: grey;
        }
      }

      .tab.active + i {
        color: lighten(lightgrey, 10);
        &:hover {
          color: white;
        }
      }
    }

    #new-note {
      width: 120px;
      border: 0;
      text-align: center;
      margin: 0 auto;
      display: block;
      background: none;
      cursor: default;

      &:focus {
        outline: none;
      }
    }

    i {
      margin-top: 5px;
      font-size: 1.4em;
      text-align: center;
      border-radius: 100%;
      color: mix($green-primary, $blue-primary, 100);
      cursor: pointer;
      @include transition(0.1s all);

      &:hover {
        color: darken($green-primary, 10);
      }
      &:active {
        color: $blue-primary;
      }
    }
  }
}
