#TextOptions {
  z-index: 0;
  width: 100%;
  @include display-flex;
  @include align-items(center);

  button {
    background: none;
    border: 0;

    padding: 12px 0;
    width: 50px;

    &:hover {
      background: tint($green-primary, 70);
    }

    &:active {
      background: $green-primary;
      color: white;
    }

    &:focus {
      outline: 0;
      box-shadow: 0 0 0 1px tint($green-primary, 70);
    }
  }

  #underline {
    text-decoration: underline;
  }

  #delete {
    align-self: center;
    &:hover {
      background: lighten(red, 45);
      color: red;
    }

    &:active {
      background: lighten(red, 8%);
      color: white;
    }

    &:focus {
      outline: 0;
      box-shadow: 0 0 0 1px lighten(red, 45);
    }
  }
}
